<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>

					<ul id="nav">
            {% for weight in (1..10) %}
              {% for p in site.pages %}
                {% if p.weight == weight %}
                  <li>
                    <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                      {{ p.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>

					</ul>

          {{ content }}

          <div class="footer">
						Le Lérot, route des Envers, 73270 Arêches<br/>
            <a href="https://github.com/le-lerot"><img src="{{ site.url }}/assets/github.png"</a>
          </div>
        </div>

    </body>
</html>
